/*Default*/
body{
    margin: 0px;
    border: 6px solid black;
    background-color: black;
}
.outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*Game Title*/
.title{
    display: flex;
    justify-content: center;
    align-items: center;
/*    background-color: chartreuse;*/
}
/*Word Box*/
.wordBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Image Area*/
.hmImages{
    display: flex;
    justify-content: center;
    align-items: center;
/*    background-color: rebeccapurple;*/
}
/*Keypad Area*/
.keypad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
/*    background-color: blue;*/
}
/*Hint Box*/
.hintBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Score Box*/
.scoreBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*About Me*/
.aboutMe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*Phone Style*/
@media screen and (min-width: 300px) and (max-width:500px){
body{
    margin: 0px;
    border: 6px solid black;
    background-color: black;
}
.outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 6px solid white;
    border-radius: 16px;
}
/*Game Title*/
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
/*    background-color: chartreuse;*/
    font-size: 20px;
}
.title h1{
    margin: 0 0 0 0;
    font-family: cursive;
    letter-spacing: 8px;
    color: #EEEEEE;
    text-shadow: 2px 2px 4px gray, 0 0 25px red;
}
/*Word Box*/
.wordBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 80px;
    text-align: center;
    font-family: cursive;
    color: black;
    background-color: white;
    border: 8px solid black;
/*    border-bottom:  8px solid black;*/
    border-radius: 22px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, .5);
}
#ques{
    padding: 2px;
    margin: 0px;
    font-size: 22px;
}
#ans{
    margin: 0px 0 12px 0px;
    font-size: 24px;
    font-weight: 800;
    text-shadow: -1px 1px 2px #555555;
}
/*Image Area*/
.hmImages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
/*    background-color: rebeccapurple;*/
}
#hmimg{
    width: 96%;
    height: 90%;
    border: 4px solid black;
    border-radius: 20px;
}
/*Keypad Area*/
.keypad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
/*    background-color: blue;*/
    text-align: center;
}
.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 8.8%;
    height: 30%;
    margin: 2px;
    font-size: 14px;
    font-weight: 800;
    font-family: monospace;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, .5);
    outline: none;
}
.keys:hover{
    cursor: pointer;
}
#restart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 36%;
    height: 29%;
    margin: 2px;
    font-size: 16px;
    font-weight: 800;
    font-family: monospace;
    letter-spacing: 2px;
    color: #EEEEEE;
    background-color: rgba(255, 0, 0, .3);
    border: 2px solid white;
    border-radius: 16px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, .5);
    text-shadow: 1px 1px 4px black;
    outline: none;
}
#restart:hover{
    cursor: pointer;
}
#restart:active{
    transform: translateY(4px);
}
/*Hint Box*/
.hintBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 96%;
    font-family: monospace;
    font-size: 14px;
    border: 4px solid black;
    border-radius: 10px;
    text-shadow: 1px 1px 2px #555555;
    margin: 6px 2px 2px 2px;
/*    background-color: deeppink;*/
    background-color: white;
}
.hintAlign{
    font-weight: 800;
}
/*Score Box*/
.scoreBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 24px;
/*    background-color: chocolate;*/
    background-color: white;
    font-family: monospace;
    font-size: 18px;
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    text-shadow: 1px 1px 2px #555555;
    border: 4px solid black;
    border-radius: 10px;
    margin: 2px;
}
/*About Me*/
.aboutMe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 96%;
    height: 34px;
    font-family: monospace;
    font-size: 14px;
    font-weight: 800;
/*    background-color: crimson;*/
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    margin: 2px;
}
.aboutMe p{
    margin: 0;
}
}
/*Desktop Style*/
@media screen and (min-width: 501px){
body{
    margin: 0px;
    border: 6px solid black;
    background-color: black;
}
.outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 6px solid white;
    border-radius: 16px;
}
/*Game Title*/
.title{
    width: 100%;
/*    background-color: chartreuse;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.title h1{
    margin: 0 0 0 0;
    font-family: cursive;
    letter-spacing: 16px;
    color: #EEEEEE;
    text-shadow: 2px 2px 4px gray, 0 0 25px red;
}
/*Word Box*/
.wordBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 106px;
    font-family: cursive;
    color: black;
    background-color: white;
    border: 8px solid black;
    border-radius: 24px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, .5);
}
#ques{
    padding: 6px;
    margin: 0px;
    font-size: 22px;
}
#ans{
    margin: 12px 0 12px 0px;
    font-size: 26px;
    font-weight: 800;
    text-shadow: -1px 1px 2px #555555;
}
/*Image Area*/
.hmImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
/*    background-color: rebeccapurple;*/
}
#hmimg{
    width: 90%;
    height: 90%;
    border: 4px solid black;
    border-radius: 20px;
}
/*Keypad Area*/
.keypad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 360px;
    padding: 20px 0 20px 0;
/*    background-color: blue;*/
    text-align: center;
}
.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 20%;
    margin: 4px;
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, .5);
    text-shadow: 2px 1px 2px #555555;
    outline: none;
}
.keys:hover{
    cursor: pointer;
}
#restart{
    width: 26%;
    height: 18%;
    padding: 13px 13px 13px 13px;
    margin: 4px;
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
    letter-spacing: 2px;
    color: #EEEEEE;
    background-color: rgba(255, 0, 0, .3);
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, .5);
    text-shadow: 1px 1px 4px black;
    outline: none;
}
#restart:hover{
    cursor: pointer;
}
#restart:active{
    transform: translateY(4px);
}
/*Hint Box*/
.hintBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 40%;
    order: 1;
    margin: 4px;
    font-family: monospace;
    text-align: left;
    font-size: 18px;
    font-weight: 800;
    border: 8px solid black;
    border-radius: 10px;
    background-color: white;
/*    background-color: deeppink;*/
}
.hintAlign{
    margin: 20px 0px 20px 0px;
    font-size: 24px;
    text-shadow: 1px 1px 2px #555555;
}
#hint{
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    text-shadow: 1px 1px 2px #555555;
}
/*Score Box*/
.scoreBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    order: 0;
    width: 19%;
    height: 70px;
    margin: 4px;
    background-color: white;
/*    background-color: chocolate;*/
    font-family: cursive;
    font-size: 26px;
    font-weight: 800;
    line-height: 16px;
    text-align: left;
    text-shadow: 4px 2px 4px #555555;
    border: 8px solid black;
    border-radius: 10px;
}
/*About Me*/
.aboutMe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    width: 30%;
    margin: 4px;
    height: 70px;
    font-family: monospace;
    font-size: 24px;
    font-weight: 800;
    background-color: white;
/*    background-color: crimson;*/
    border: 8px solid black;
    border-radius: 10px;
    text-shadow: 4px 2px 4px #555555;
}
.aboutMe p{
    margin: 0;
}
}